name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Display files
        run: ls -la

      - name: Validate HTML
        run: |
          sudo apt install tidy -y
          tidy -errors -q index.html
